version: "3.8"

networks:
  ros_network:
    driver: bridge
    external: true

services:
  voxel_grid:
    build: &voxel_grid_build
      context: ..
      dockerfile: docker/behaviour/voxel_grid/voxel_grid.Dockerfile
      cache_from:
        - "${BEHAVIOUR_VOXEL_IMAGE:?}:${TAG}"
        - "${BEHAVIOUR_VOXEL_IMAGE:?}:main"
      args:
        BASE_IMAGE: ${BASE_IMAGE_OVERRIDE-}
    image: "${BEHAVIOUR_VOXEL_IMAGE:?}:${TAG}"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - ROS_DOMAIN_ID=42
      - ROS_DISCOVERY_SERVER=
    networks:
      - ros_network
    profiles: [deploy]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    volumes:
      - ${MONO_DIR}/autonomy/behaviour/voxel_grid:/root/ament_ws/src/voxel_grid
    command: tail -F anything

  voxel_grid_dev:
    build: *voxel_grid_build
    image: "${BEHAVIOUR_VOXEL_IMAGE:?}:dev_${TAG}"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - ROS_DOMAIN_ID=42
      - ROS_DISCOVERY_SERVER=
    networks:
      - ros_network
    profiles: [develop]
    volumes:
      - ${MONO_DIR}/autonomy/behaviour/voxel_grid:/root/ament_ws/src/voxel_grid
    command: tail -F anything

  octo_map:
    build:
      context: ..
      dockerfile: docker/behaviour/octo_map/octo_map.Dockerfile
      cache_from:
        - "${BEHAVIOUR_OCTO_IMAGE:?}:${TAG}"
        - "${BEHAVIOUR_OCTO_IMAGE:?}:main"
      args:
        BASE_IMAGE: ${BASE_IMAGE_OVERRIDE-}
    image: "${BEHAVIOUR_OCTO_IMAGE:?}:${TAG}"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - ROS_DOMAIN_ID=42
      - ROS_DISCOVERY_SERVER=
    networks:
      - ros_network
    profiles: [deploy]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    volumes:
      - ${MONO_DIR}/autonomy/behaviour/octo_map:/root/ament_ws/src/octo_map
    command: tail -F anything

  octo_map_dev:
    build:
      context: ..
      dockerfile: docker/behaviour/octo_map/octo_map.Dockerfile
      cache_from:
        - "${BEHAVIOUR_OCTO_IMAGE:?}:dev_${TAG}"
        - "${BEHAVIOUR_OCTO_IMAGE:?}:main"
      args:
        BASE_IMAGE: ${BASE_IMAGE_OVERRIDE-}
    image: "${BEHAVIOUR_OCTO_IMAGE:?}:dev_${TAG}"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - ROS_DOMAIN_ID=42
      - ROS_DISCOVERY_SERVER=
    networks:
      - ros_network
    profiles: [develop]
    volumes:
      - ${MONO_DIR}/autonomy/behaviour/octo_map:/root/ament_ws/src/octo_map
    command: tail -F anything
