version: "3.8"

services:
  voxel_grid:
    build: &voxel_grid_build
      context: ..
      dockerfile: docker/behaviour/voxel_grid/voxel_grid.Dockerfile
      cache_from:
        - "${BEHAVIOUR_VOXEL_IMAGE:?}:${TAG}"
        - "${BEHAVIOUR_VOXEL_IMAGE:?}:main"
      args:
        BASE_IMAGE: ${BASE_IMAGE_OVERRIDE-}
    image: "${BEHAVIOUR_VOXEL_IMAGE:?}:${TAG}"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    profiles: [deploy]
    working_dir: /root/ament_ws
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    volumes:
      - ${MONO_DIR}/autonomy/behaviour/voxel_grid:/root/ament_ws/src/voxel_grid
    command: tail -F anything

  voxel_grid_dev:
    build: *voxel_grid_build
    image: "${BEHAVIOUR_VOXEL_IMAGE:?}:dev_${TAG}"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    profiles: [develop]
    working_dir: /root/ament_ws
    volumes:
      - ${MONO_DIR}/autonomy/behaviour/voxel_grid:/root/ament_ws/src/voxel_grid
    command: tail -F anything

  octomap:
    build: &octomap_build
      context: ..
      dockerfile: docker/behaviour/octomap/octomap.Dockerfile
      cache_from:
        - "${BEHAVIOUR_OCTO_IMAGE:?}:${TAG}"
        - "${BEHAVIOUR_OCTO_IMAGE:?}:main"
      args:
        BASE_IMAGE: ${BASE_IMAGE_OVERRIDE-}
    image: "${BEHAVIOUR_OCTO_IMAGE:?}:${TAG}"
    runtime: nvidia
    profiles: [deploy]
    working_dir: /root/ament_ws
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    command: tail -F anything

  octomap_dev:
    build: *octomap_build
    image: "${BEHAVIOUR_OCTO_IMAGE:?}:dev_${TAG}"
    runtime: nvidia
    profiles: [develop]
    working_dir: /root/ament_ws
    command: tail -F anything
