version: "3.8"

services:
  voxel-grid:
    build:
      context: ..
      dockerfile: docker/behaviour/voxel-grid/Dockerfile
      cache_from:
        - "${BEHAVIOUR_VOXEL_IMAGE:?}:${TAG}"
        - "${BEHAVIOUR_VOXEL_IMAGE:?}:main"
      target: deploy
      args:
        BASE_IMAGE: ${BASE_IMAGE_OVERRIDE-}
    image: "${BEHAVIOUR_VOXEL_IMAGE:?}:${TAG}"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    command: ["python3", "/workspace/voxel/test_voxel.py"]
