.env
__pycache__
.vscode/
.DS_Store
.claude/

*.pkl
*.html

watod-config.local.sh
utils/voxel/spconv

build/
install/
log/

**/certs/*

autonomy/teleop/quest_teleop_server/certs/*

autonomy/teleop/quest_teleop/static/pov*.png
datasets/
outputs/

modules/docker-compose.perception_override.yaml
