<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="armv2URDF">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0211873264413583 -0.000578679194436403 -0.535897425904545"
        rpy="0 0 0" />
      <mass
        value="9.70005004618049" />
      <inertia
        ixx="0.494157879661375"
        ixy="1.61145426298652E-07"
        ixz="-2.737415919313E-06"
        iyy="0.484477804733134"
        iyz="4.10251355813697E-07"
        izz="0.0374833293782543" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.00639176807882896 -0.0729037479824685 -0.000182560348840566"
        rpy="0 0 0" />
      <mass
        value="0.946680841893098" />
      <inertia
        ixx="0.00227765385399196"
        ixy="0.000169821841109933"
        ixz="2.49771803243152E-08"
        iyy="0.00147449768490373"
        iyz="-1.68751643685416E-07"
        izz="0.00187280030458172" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.0215734774382594 -0.163325 0.060481929205022"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.303835"
      upper="1.780236"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.0226409324077597 -4.83004338838744E-05 -0.0456182253344111"
        rpy="0 0 0" />
      <mass
        value="0.524797758723649" />
      <inertia
        ixx="0.00137005099117973"
        ixy="2.52458760727533E-06"
        ixz="0.000262439334892806"
        iyy="0.00125797775963598"
        iyz="-2.57496249554106E-07"
        izz="0.000889484097722322" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.0428200564481259 -0.116 -0.000180788468191695"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.570796"
      upper="0.349066"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.00598357016341943 0.000141304767097838 -0.0990878667079447"
        rpy="0 0 0" />
      <mass
        value="0.617876375655755" />
      <inertia
        ixx="0.00251173914616527"
        ixy="-2.34051527786681E-06"
        ixz="-2.58426068013565E-05"
        iyy="0.00288736195097941"
        iyz="-4.40908728556819E-05"
        izz="0.000536706636009815" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.0359999999999998 0 -0.1162999991972"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.396263"
      upper="3.726278"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.000589780866338156 0.0234957374981252 -0.0534086548301933"
        rpy="0 0 0" />
      <mass
        value="0.236099727990138" />
      <inertia
        ixx="0.000374896268749316"
        ixy="2.01149413314071E-06"
        ixz="4.67080005222847E-06"
        iyy="0.000236745756975195"
        iyz="-7.16659840503617E-07"
        izz="0.000331869493061911" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 -0.0252499991972028 -0.1846"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.312561"
      upper="1.745329"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-6.76878805183408E-05 -0.00333839052654183 -0.0713160016983475"
        rpy="0 0 0" />
      <mass
        value="0.260193841211252" />
      <inertia
        ixx="0.000711350956353437"
        ixy="1.09800020734735E-07"
        ixz="5.84637911833503E-07"
        iyy="0.000776554866617874"
        iyz="3.4828989222377E-05"
        izz="0.000207422334507734" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0.0274999999999994 -0.1074999991972"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.328417"
      upper="1.315978"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.0024081538841275 -0.0499383130809352 -0.0643219245330953"
        rpy="0 0 0" />
      <mass
        value="0.120420205315175" />
      <inertia
        ixx="0.000106661288483188"
        ixy="-4.69677316197868E-06"
        ixz="4.16171284294177E-06"
        iyy="7.61032549163886E-05"
        iyz="1.75230255432293E-05"
        izz="9.69195737112299E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0.0325 -0.128000000000001"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-6.283185"
      upper="6.283185"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link7">
    <inertial>
      <origin
        xyz="-0.00206129891851869 -0.134651480799952 -0.0277675675986927"
        rpy="0 0 0" />
      <mass
        value="0.0372930675250569" />
      <inertia
        ixx="1.51529276256957E-05"
        ixy="6.69248606569175E-09"
        ixz="-4.79077371666837E-07"
        iyy="1.98339939367373E-05"
        iyz="2.61463007882642E-06"
        izz="9.05266779219802E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="prismatic">
    <origin
      xyz="0 0.0261579738681254 -0.11101425916694"
      rpy="0 0 0" />
    <parent
      link="link6" />
    <child
      link="link7" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.0532"
      upper="0.0168"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link8">
    <inertial>
      <origin
        xyz="0.00206129891873962 0.0976514848914404 -0.0222233093304134"
        rpy="0 0 0" />
      <mass
        value="0.0372930675242417" />
      <inertia
        ixx="1.51529276255245E-05"
        ixy="6.69248520177956E-09"
        ixz="4.79077372021657E-07"
        iyy="1.98339939364651E-05"
        iyz="-2.61463007873344E-06"
        izz="9.05266779209683E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint8"
    type="prismatic">
    <origin
      xyz="0 -0.0771579775183292 -0.116558517434743"
      rpy="0 0 0" />
    <parent
      link="link6" />
    <child
      link="link8" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.0132"
      upper="0.0468"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link1L">
    <inertial>
      <origin
        xyz="0.00639227991738009 0.0729035564223832 -0.000181503970779096"
        rpy="0 0 0" />
      <mass
        value="0.946692068071669" />
      <inertia
        ixx="0.00227767540037511"
        ixy="-0.000169830389832244"
        ixz="-2.51533412314416E-08"
        iyy="0.00147451036127731"
        iyz="1.68081499163973E-07"
        izz="0.00187281914191161" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link1L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link1L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1L"
    type="revolute">
    <origin
      xyz="0.0215734774382595 0.163325 0.060481929205022"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1L" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.303835"
      upper="1.780236"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2l">
    <inertial>
      <origin
        xyz="-0.0113592618305933 4.82385618164605E-05 -0.0456181169350007"
        rpy="0 0 0" />
      <mass
        value="0.524798985890022" />
      <inertia
        ixx="0.00137005171400049"
        ixy="-2.52083755078216E-06"
        ixz="0.000262436488922752"
        iyy="0.00125796245716169"
        iyz="2.44902217069074E-07"
        izz="0.000889474020883482" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link2l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link2l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2l"
    type="revolute">
    <origin
      xyz="-0.00882005644812602 0.116 -0.000180788468191695"
      rpy="0 0 0" />
    <parent
      link="link1L" />
    <child
      link="link2l" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.349066"
      upper="1.570796"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3l">
    <inertial>
      <origin
        xyz="-0.00598332138095589 -0.000141528724227125 -0.0980884072109709"
        rpy="0 0 0" />
      <mass
        value="0.61786854410098" />
      <inertia
        ixx="0.00251173248949367"
        ixy="2.34133435456892E-06"
        ixz="-2.58450679311841E-05"
        iyy="0.00288735344460763"
        iyz="4.40889928894614E-05"
        izz="0.000536703803179251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link3l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link3l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3l"
    type="revolute">
    <origin
      xyz="0.00200000000000037 0 -0.117299999197201"
      rpy="0 0 0" />
    <parent
      link="link2l" />
    <child
      link="link3l" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.726278"
      upper="1.396263"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4l">
    <inertial>
      <origin
        xyz="0.000589678856964823 -0.0234956984098504 -0.0534086986094744"
        rpy="0 0 0" />
      <mass
        value="0.23609959618399" />
      <inertia
        ixx="0.000374896178399618"
        ixy="-2.01083261967767E-06"
        ixz="4.67089648036612E-06"
        iyy="0.00023674516754595"
        iyz="7.16455690670736E-07"
        izz="0.000331869395417312" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link4l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link4l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4l"
    type="revolute">
    <origin
      xyz="0 0.025249999197197 -0.183599999999999"
      rpy="0 0 0" />
    <parent
      link="link3l" />
    <child
      link="link4l" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.745329"
      upper="2.312561"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5l">
    <inertial>
      <origin
        xyz="-0.00133097217422614 -0.00113652812958864 -0.0095727746678782"
        rpy="0 0 0" />
      <mass
        value="0.260192598192353" />
      <inertia
        ixx="0.00071135436630229"
        ixy="-1.12212189009507E-07"
        ixz="5.85193634163708E-07"
        iyy="0.000776552473650236"
        iyz="-3.48288772748281E-05"
        izz="0.000207426469120271" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link5l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link5l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5l"
    type="revolute">
    <origin
      xyz="0.00126373662642563 -0.0230249983943991 -0.169243101839289"
      rpy="0 0 0" />
    <parent
      link="link4l" />
    <child
      link="link5l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.315978"
      upper="4.328417"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6l">
    <inertial>
      <origin
        xyz="0.00240830632223063 0.0589383046669046 -0.0643217893301219"
        rpy="0 0 0" />
      <mass
        value="0.120420993331066" />
      <inertia
        ixx="0.000106661652543348"
        ixy="4.69673996084141E-06"
        ixz="4.16161598080972E-06"
        iyy="7.61035835146052E-05"
        iyz="-1.75230970551461E-05"
        izz="9.69200277534609E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link6l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link6l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6l"
    type="revolute">
    <origin
      xyz="-0.00126373662644846 -0.0459750016055988 -0.0662568973579128"
      rpy="0 0 0" />
    <parent
      link="link5l" />
    <child
      link="link6l" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-6.283185"
      upper="6.283185"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link7l">
    <inertial>
      <origin
        xyz="-0.00206129179860708 0.134651326858929 -0.0277679742359116"
        rpy="0 0 0" />
      <mass
        value="0.0372932549660758" />
      <inertia
        ixx="1.51535820699273E-05"
        ixy="-6.69769932715019E-09"
        ixz="-4.79102693134403E-07"
        iyy="1.98346130416929E-05"
        iyz="-2.61481896083983E-06"
        izz="9.05271732114926E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link7l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link7l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7l"
    type="prismatic">
    <origin
      xyz="0 -0.0171579738681266 -0.11101425916694"
      rpy="0 0 0" />
    <parent
      link="link6l" />
    <child
      link="link7l" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.0532"
      upper="0.0168"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link8l">
    <inertial>
      <origin
        xyz="0.00206129180571482 -0.0976513309287601 -0.0222237160043666"
        rpy="0 0 0" />
      <mass
        value="0.0372932549731019" />
      <inertia
        ixx="1.51535821749886E-05"
        ixy="-6.6976891020365E-09"
        ixz="4.79102688945327E-07"
        iyy="1.98346131283457E-05"
        iyz="2.61481899664886E-06"
        izz="9.05271732005666E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link8l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://armv2URDF/meshes/link8l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint8l"
    type="prismatic">
    <origin
      xyz="0 0.0861579775183273 -0.116558517434743"
      rpy="0 0 0" />
    <parent
      link="link6l" />
    <child
      link="link8l" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.0132"
      upper="0.0468"
      effort="0"
      velocity="0" />
  </joint>
</robot>