<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="badmintonURDF">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0211873264431581 -0.000578679189188012 -0.535897425866048"
        rpy="0 0 0" />
      <mass
        value="9.70005004664541" />
      <inertia
        ixx="0.494157879660142"
        ixy="1.61145486953863E-07"
        ixz="-2.7374160053692E-06"
        iyy="0.484477804733274"
        iyz="4.10251525787582E-07"
        izz="0.0374833293769537" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.00639176807882896 -0.0729037479824685 -0.000182560348840788"
        rpy="0 0 0" />
      <mass
        value="0.946680841893099" />
      <inertia
        ixx="0.00227765385399196"
        ixy="0.000169821841109933"
        ixz="2.49771803242577E-08"
        iyy="0.00147449768490373"
        iyz="-1.68751643685358E-07"
        izz="0.00187280030458172" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.0215734774382594 -0.163325 0.060481929205022"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.303835"
      upper="1.780236"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.0226409320729833 -4.8300392940348E-05 -0.0456182257026434"
        rpy="0 0 0" />
      <mass
        value="0.524797756215336" />
      <inertia
        ixx="0.00137005098441945"
        ixy="2.5245878555248E-06"
        ixz="0.000262439335266743"
        iyy="0.00125797775087099"
        iyz="-2.57493544325746E-07"
        izz="0.000889484099676718" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.0428200564481259 -0.116 -0.000180788468191695"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.570796"
      upper="0.349066"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.005983570214833 0.000141304684249832 -0.0990878669466513"
        rpy="0 0 0" />
      <mass
        value="0.617876373651381" />
      <inertia
        ixx="0.00251173913727183"
        ixy="-2.34051699880104E-06"
        ixz="-2.58426065969807E-05"
        iyy="0.00288736194247939"
        iyz="-4.40908708035194E-05"
        izz="0.000536706633614641" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.0359999999999998 0 -0.1162999991972"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.396263"
      upper="3.726278"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.000589780866340252 -0.0270042608962767 -0.0534086548301952"
        rpy="0 0 0" />
      <mass
        value="0.236099727990152" />
      <inertia
        ixx="0.000374896268749318"
        ixy="2.01149413314096E-06"
        ixz="4.67080005222865E-06"
        iyy="0.000236745756975194"
        iyz="-7.16659840503582E-07"
        izz="0.00033186949306191" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0.0252499991971972 -0.1846"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.312561"
      upper="1.745329"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-0.00116161107905586 -6.76878805146441E-05 -0.0713160016983483"
        rpy="0 0 0" />
      <mass
        value="0.260193841211252" />
      <inertia
        ixx="0.000776554866617904"
        ixy="-1.09800020718996E-07"
        ixz="-3.48289892223938E-05"
        iyy="0.00071135095635345"
        iyz="5.84637911807935E-07"
        izz="0.000207422334507752" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 -0.0274999999999999 -0.1074999991972"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.328417"
      upper="1.315978"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.0500999384019663 1.074600970985E-07 0.0040135404811521"
        rpy="0 0 0" />
      <mass
        value="0.105486600314862" />
      <inertia
        ixx="4.62439218775802E-05"
        ixy="1.51336136712441E-10"
        ixz="2.0895748860904E-08"
        iyy="5.92376765579609E-05"
        iyz="5.83011495551991E-11"
        izz="5.08190033548776E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.0325 0 -0.128"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-6.283185"
      upper="6.283185"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link1L">
    <inertial>
      <origin
        xyz="0.00639227991738009 0.0729035564223833 -0.000181503970779096"
        rpy="0 0 0" />
      <mass
        value="0.946692068071669" />
      <inertia
        ixx="0.00227767540037511"
        ixy="-0.000169830389832244"
        ixz="-2.51533412315552E-08"
        iyy="0.00147451036127731"
        iyz="1.68081499163973E-07"
        izz="0.00187281914191161" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link1L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link1L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1L"
    type="revolute">
    <origin
      xyz="0.0215734774382595 0.163325 0.060481929205022"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1L" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.303835"
      upper="1.780236"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2l">
    <inertial>
      <origin
        xyz="-0.011359261495819 4.82386027679249E-05 -0.0456181165667715"
        rpy="0 0 0" />
      <mass
        value="0.524798988398382" />
      <inertia
        ixx="0.0013700517207607"
        ixy="-2.52083730252906E-06"
        ixz="0.000262436488548803"
        iyy="0.00125796246592663"
        iyz="2.44904922319668E-07"
        izz="0.000889474018929076" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link2l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link2l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2l"
    type="revolute">
    <origin
      xyz="-0.00882005644812602 0.116 -0.000180788468191695"
      rpy="0 0 0" />
    <parent
      link="link1L" />
    <child
      link="link2l" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.349066"
      upper="1.570796"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3l">
    <inertial>
      <origin
        xyz="-0.00598332280025479 -0.000141528692258197 -0.0980884094934429"
        rpy="0 0 0" />
      <mass
        value="0.617868521774117" />
      <inertia
        ixx="0.00251173239491134"
        ixy="2.34135974853362E-06"
        ixz="-2.58450095814269E-05"
        iyy="0.00288735331619627"
        iyz="4.40890218624611E-05"
        izz="0.00053670375517804" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link3l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link3l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3l"
    type="revolute">
    <origin
      xyz="0.00200000000000037 0 -0.117299999197201"
      rpy="0 0 0" />
    <parent
      link="link2l" />
    <child
      link="link3l" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.726278"
      upper="1.396263"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4l">
    <inertial>
      <origin
        xyz="0.000589678856968161 0.0270042999845516 -0.0534086986094743"
        rpy="0 0 0" />
      <mass
        value="0.236099596183991" />
      <inertia
        ixx="0.000374896178399616"
        ixy="-2.0108326196776E-06"
        ixz="4.67089648036621E-06"
        iyy="0.000236745167545951"
        iyz="7.16455690670894E-07"
        izz="0.000331869395417313" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link4l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link4l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4l"
    type="revolute">
    <origin
      xyz="0 -0.0252499991972027 -0.183599999999999"
      rpy="0 0 0" />
    <parent
      link="link3l" />
    <child
      link="link4l" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.745329"
      upper="2.312561"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5l">
    <inertial>
      <origin
        xyz="-0.00242526475601328 9.22355478022441E-05 -0.00957277466788131"
        rpy="0 0 0" />
      <mass
        value="0.260192598192354" />
      <inertia
        ixx="0.000776552473650281"
        ixy="1.12212189008528E-07"
        ixz="-3.48288772748489E-05"
        iyy="0.000711354366302317"
        iyz="-5.85193634212752E-07"
        izz="0.000207426469120314" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link5l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link5l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5l"
    type="revolute">
    <origin
      xyz="0.00126373662642698 0.0274750000000006 -0.169243101839288"
      rpy="0 0 0" />
    <parent
      link="link4l" />
    <child
      link="link5l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.315978"
      upper="4.328417"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6l">
    <inertial>
      <origin
        xyz="0.0420999384019663 1.07460096987477E-07 0.00401354048115232"
        rpy="0 0 0" />
      <mass
        value="0.105486600314863" />
      <inertia
        ixx="4.62439218775802E-05"
        ixy="1.5133613669718E-10"
        ixz="2.08957488608918E-08"
        iyy="5.9237676557961E-05"
        iyz="5.83011496043035E-11"
        izz="5.08190033548777E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link6l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://badmintonURDF/meshes/link6l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6l"
    type="revolute">
    <origin
      xyz="0.0392362633735729 2.49999999999417E-05 -0.0662568973579121"
      rpy="0 0 0" />
    <parent
      link="link5l" />
    <child
      link="link6l" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-6.283185"
      upper="6.283185"
      effort="0"
      velocity="0" />
  </joint>
</robot>